* {
	background-image: none;
	font-family: "Space Grotesk";
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
	background-color: #2B303B;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3F444F;
	border-color: #EEEEEE;
	outline-style: none;
}

#lock {
	background-image: url("lock.svg");
}

#logout {
	background-image: url("logout.svg");
}

#suspend {
	background-image: url("suspend.svg");
}

#hibernate {
	background-image: url("hibernate.svg");
}

#shutdown {
	background-image: url("shutdown.svg");
}

#reboot {
	background-image: url("reboot.svg");
}
