* {
	font-family: "Fira Code";
	border: 0px none;
	outline: none;
}

window {
	font-size: 20;
	background-color: #3b4252;
	color: #d8dee9;
	padding-left: 1000px;
}

#text {
	padding-left: 15px;
}

#text:selected {
	color: #8fbcbb;
	background-color: #3b4252;
}

#entry:selected {
	background-color: #3b4252;
	color: #d8dee9;
}

#img:selected {
	background-color: #3b4252;
}

#input {
	border-radius: 0px;
	color: #eceff4;
	background-color: #434c5e;
	caret-color: transparent;
}
